
table.gridtable {
  margin: 0 auto;
  width: 80%;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.search-bar {
  height: 80px;
  background-color: #66666a;
}
.search-bar h2 {
  text-align: center;
  color: #ddd;
  font-family: verdana,arial,sans-serif;
}

.search-bar form input {

  width: 20%;
  margin: 5px 40%;
}
